$blurred-img:"https://ei-squared.herokuapp.com/static/img/1920.jpg"

body {
    height: 100%;
}

html {
    height: 100%;
}

.post{
	margin: auto;
    border-radius: 25px;
    width: 75%;
    background: white
}

.content{
    margin: auto;
    border-radius: 25px;
    width: 50%;
	background-color: gray;
    padding: 10px;
    z-index: 1;
  }
}