<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!<link rel="icon" href="../../favicon.ico">
		
		<title>Login</title>
		
		<!-- Bootstrap core CSS -->
		<link href="../dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="css/signin.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<form method="post" action="{{url_for('login_attempt')}}">
				<h2 class="form-signin-heading">Please sign in</h2>
				<label for="username" class="sr-only">Username</label>
				<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
				<label for="password" class="sr-only">Password</label>
				<input type="password" class="form-control" name="password" required placeholder="Password">
				<button class="btn btn-lg btn-primary btn-block" type="submit">test button</button>
			</form>
		</div>
	</body>
</html>